body {
    font-family: Arial, sans-serif; /* Change this to your preferred font */
    margin: 0;
    padding: 0;
    background-color: black; /* Background color for the body */
    color: white; /* Text color for better readability */
}

header {
    background-color: rgb(78, 6, 78); /* Header background color */
    padding: 20px;
    text-align: center;
}

.logo {
    width: 100px;
}

nav {
    margin: 10px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white; /* Navigation links color */
}

main {
    padding: 20px;
}

.place-card, .review-card {
    border: 1px solid rgb(80, 4, 80); /* Border color for cards */
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    width: calc(33% - 40px);
    vertical-align: top;
    background-color: #570a66; /* Dark purple background for cards */
}

.place-image, .place-image-large {
    width: 100%;
    height: auto;
}

.details-button, .add-review {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(92, 7, 92); /* Button background color */
    color: white; /* Button text color */
    text-decoration: none;
    border-radius: 5px;
}

.details-button:hover, .add-review:hover {
    background-color: #2c0746; /* Lighter purple on hover */
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(83, 7, 83); /* Footer background color */
    color: white; /* Footer text color */
}
